<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/ruta1">Primera Ruta</a></li>
        <li><a href="/ruta2">Segunda Ruta</a></li>
        <li><a href="/ruta3">Tercera Ruta</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
