p{

    font-family: Arial;
    text-align: center;

}

.imgPrincipal{
    margin-left: 620px;
}

#margenIzq{
    margin-left: 50px;
}

.Centrado{
    font-family: Arial;
    text-align: center;
}

h1{
    font-family: Arial;
  
}

ul{
    font-family: Arial;
}

#ParrafoForm{
    color:rgb(90, 75, 233);
    font-family: Arial;
    text-align: center;
    background-color: rgba(38, 0, 255, 0.11);
}